name: Deploy Supabase Edge Functions

on:
  push:
    branches: ["main"]
    paths:
      - "supabase/functions/**"
      - "supabase/config.toml"
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      SUPABASE_ACCESS_TOKEN: ${{ secrets.sbp_798aaa76adc5a4f030da8cfdd42040634f3e6178 }}
      PROJECT_ID: ${{ secrets.tbrdoygkaxqwennbrmxt }}
    steps:
      - uses: actions/checkout@v4

      - uses: supabase/setup-cli@v1
        with:
          version: latest

      - run: supabase functions deploy --project-ref $PROJECT_ID
